<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="QLQCOFEEntities" connectionString="metadata=res://*/qlcafeModel.csdl|res://*/qlcafeModel.ssdl|res://*/qlcafeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHVTD99EE92FQC4\SQLEXPRESS;initial catalog=QLQCOFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLQCOFE1Entities" connectionString="metadata=res://*/qlcafeModel.csdl|res://*/qlcafeModel.ssdl|res://*/qlcafeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHVTD99EE92FQC4\SQLEXPRESS;initial catalog=QLQCOFE1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLTRACHANHEntities" connectionString="metadata=res://*/trachanhModel.csdl|res://*/trachanhModel.ssdl|res://*/trachanhModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHVTD99EE92FQC4\SQLEXPRESS;initial catalog=QLTRACHANH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLQCOFEEntities1" connectionString="metadata=res://*/QLQCAFEModel.csdl|res://*/QLQCAFEModel.ssdl|res://*/QLQCAFEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHVTD99EE92FQC4\SQLEXPRESS;initial catalog=QLQCOFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLQCOFE1Entities1" connectionString="metadata=res://*/QLQCAFEModel.csdl|res://*/QLQCAFEModel.ssdl|res://*/QLQCAFEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHVTD99EE92FQC4\SQLEXPRESS;initial catalog=QLQCOFE1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLQCOFE1Entities2" connectionString="metadata=res://*/QLQCAFE.csdl|res://*/QLQCAFE.ssdl|res://*/QLQCAFE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHVTD99EE92FQC4\SQLEXPRESS;initial catalog=QLQCOFE1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLQCOFE3Entities" connectionString="metadata=res://*/qlcafeModel.csdl|res://*/qlcafeModel.ssdl|res://*/qlcafeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHVTD99EE92FQC4\SQLEXPRESS;initial catalog=QLQCOFE3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLQCOFE5Entities" connectionString="metadata=res://*/QLQCAFEModel.csdl|res://*/QLQCAFEModel.ssdl|res://*/QLQCAFEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHVTD99EE92FQC4\SQLEXPRESS;initial catalog=QLQCOFE5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLQCOF5Entities" connectionString="metadata=res://*/QLQCAFEModel.csdl|res://*/QLQCAFEModel.ssdl|res://*/QLQCAFEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHVTD99EE92FQC4\SQLEXPRESS;initial catalog=QLQCOFE2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>